html { 
  background: url("background1.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
	position: relative;
}

#existWarining{
	position: absolute;
	text-align: center;
	font-size: 20px;
	height: 5%;
	margin-top: 2%;
	display: none;
	width: 400px;
}

#touch{
	position: relative;
	margin-top:1%;
	margin-left:1%;
	margin-right:1%;
	margin-bottom:2%;
	float:left;
	width:58%;
	height:96%;
	border-radius: 25px;
background-color:rgba(250,230,217,0.5);
/*	background:#FFFFEB;
	opacity:0.8;
	filter:alpha(opacity=80); */	
	box-shadow: 0px 0px 20px 5px #888888;

}
#result{
	position: absolute;
	margin-top:1%;
	margin-bottom:2%;
	margin-left:61%;
	margin-right:0.5%;
	width:38%;
	height:96%;
	border-radius: 25px;
	background-color:rgba(250,230,217,0.5);
/*	background:	#FFCC80;
	opacity:0.5;
	filter:alpha(opacity=50);   */
	box-shadow:  0px 0px 20px 5px #888888;
	
}

.tag{
	position: absolute;
	/*border: 1px solid;*/
	border-radius: 40%;
	white-space: wrap;
	max-width: 70px;
	min-width: 40px;
	text-align: center;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 1%;
	padding-bottom: 1%;
	left: 0px;
	top: 0px;
	-moz-transition: all 0.5s; 
	-webkit-transition: all 0.5s;  
	-ms-transition: all 0.5s;  
	-o-transition: all 0.5s;  
	transition: all 0.5s;

	-webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
   -ms-transform: translateZ(0);
   -o-transform: translateZ(0);
   transform: translateZ(0);
}

span{
	 display: inline-block;
  vertical-align: middle;
  line-height: normal;   
}

#wrap{
	position: relative;
	height: 91%;
	width: 98%;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 1%;
	margin-top: 7%;
	
}
#myCanvas{

	position: absolute;
}




